@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "KumbhSans";
    src: url("/fonts/KumbhSans.ttf") format("truetype");
}

@font-face {
    font-family: "STIX";
    src: url("/fonts/STIX.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish";
    src: url("/fonts/Mulish.ttf") format("truetype");
}

:root {
    --background: rgb(24 24 27 / var(--tw-bg-opacity, 1));
    --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(24 24 27 / var(--tw-bg-opacity, 1));
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "KumbhSans";
}

.dots_bg {
    background-size: 40px 40px;
    background-image: radial-gradient(
        circle,
        #404040 1px,
        rgba(0, 0, 0, 0) 1px
    );
}

.gradient_text_community {
    background: linear-gradient(62.5deg,rgb(30, 226, 62), rgb(92, 255, 214));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient_text_create {
    background: linear-gradient(62.5deg,rgb(226, 157, 30), rgb(252, 255, 92));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent; 
}

/* For light mode */
:root[data-mantine-color-scheme="light"] {
    --mantine-color-body: #1a1919 !important;
}

.bg_override {
    background-color: #3b3b3b !important;
}

.bg-tags {
    background-color: #6b6b6b !important;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .25em;
    padding-bottom: .25em;
}
